<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Goods</h1>

<%- include('./list') %> 

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Begin Delete Modal -->
            
<%- include('../layouts/modal') %> 

            <!-- End of Delete Modal -->

            <script>

            $(document).ready(function() {
            
            /*############## MAIN PAGE - GOODS ##############*/
                // Add-button - Hide/Show goods-Form
                $('button#add-btn').click(function() {
                    $('#goods-form-title').html('Form add')
                    $('#barcode').removeClass('is-invalid is-valid')
                    $('#barcode').attr('data-id', '')
                    $('#barcode').prop('data-id', '')

                    $('#goods-section').toggle()
                    $('#goods-table').toggle()
                })
                
                // Table - Read data
                    $('#dataTable').DataTable({
                        "lengthMenu": [[3, 10, 100, -1],[3, 10, 100]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/goods/data",
                        "columns": [
                            {'data': 'barcode'},
                            {'data': 'name'},
                            {'data': 'stock'},
                            {'data': 'unit'},
                            {
                                'data': 'purchaseprice',
                                'render': function(data) {
                                    return utils.currencyFormatter.format(data)
                                }
                            },
                            {
                                'data': 'sellingprice',
                                'render': function(data) {
                                    return utils.currencyFormatter.format(data)
                                }
                            },
                            {'data': 'picture'},
                            {
                                'data': 'barcode',
                                'orderable': false,
                                'render': function(data) {
                                    return `<button data-id="${data}" class="btn btn-success btn-circle anchor_edit"><i class="fas fa-info-circle"></i></button>  <button data-id="${data}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle anchor_remove"><i class="fas fa-trash"></i></button>`
                                }
                            }
                        ]
                    })
                
                // Table - Delete data
                    $('#dataTable').on('click', 'button.anchor_remove', function(e) {
                        e.preventDefault()
                        const dataId = $(this).attr('data-id')
                        $('a#delete-confirmation').attr("data-id", dataId)
                    })
                    
                // Table - Edit data
                    $('#dataTable').on('click', 'button.anchor_edit', function(e) {
                        e.preventDefault()
                        const barcode = $(this).attr('data-id')
                        editData(barcode)
                    })
                
            /*################ MODAL - DELETE ################*/
                // Delete Confirmation
                    $('a#delete-confirmation').click(function() {
                    const barcode = $(this).attr('data-id')
                    deleteData(barcode)
                })

            /*################ ADD-EDIT FORM ################*/
                // Back-Event - Reset form and toggle back the Goods-form
                $('#back-btn').click(function() {
                    $('#goods-form').trigger('reset')
                    $('#barcode').attr('data-id', '')
                    $('#barcode').prop('data-id', '')
                    $('#barcode').removeClass('is-invalid is-valid')

                    $('#goods-section').toggle()
                    $('#goods-table').toggle()
                })

                // Submit-Event
                $('#goods-form').submit(function(event) {
                    event.preventDefault()
                    console.log(this);
                    
                    // if ($('#barcode').hasClass('is-invalid')) {
                    //     return event.preventDefault()
                    // } else {
                    //     const unitId = $('#barcode').attr('data-id')
                    //     const barcode = $('#barcode').val()
                    //     const name = $('#name').val()
                    //     const note = $('#note').val()
    
                    //     saveData(barcode, name, note, unitId)
                    // }
                })

                // barcode-Event - Check if barcode already exists
                $('#barcode').change(function() {
                    const barcode = $(this).val()

                    if (barcode === $('#barcode').prop('data-id')) {
                        $('input#barcode').removeClass('is-invalid').addClass('is-valid')
                        $('#barcode-valid').html('Barcode remain unchanged.')
                    } else if (barcode) {
                        barcodeCheck(barcode, $(this).prop('data-id'))
                    } else {
                        $('input#barcode').removeClass('is-valid').addClass('is-invalid')
                        $('#barcode-invalid').html('Barcode is required.')
                    }
                })

                const barcodeCheck = (barcode, checkTag) => {
                    $.ajax({
                            method: 'POST',
                            url: `http://localhost:3023/goods/data`,
                            dataType: 'json',
                            data: {
                                barcode,
                                checkTag
                            }
                        }).done(function(response) {
                            console.log(response);
                            if (response.data) {
                                $('input#barcode').removeClass('is-invalid').addClass('is-valid')
                            } else {
                                $('input#barcode').removeClass('is-valid').addClass('is-invalid')
                                $('#barcode-invalid').html('Barcode already used.')
                            }
                        }).fail(function(error) {
                            alert('gagal bro')
                        })
                }

                })

            /*############## GOODS API ##############*/
                // Save data
                const saveData = (
                    barcode, name, stock, purchasePrice, 
                    sellingPrice, unit, picture) => {
                    // if there's PK, update data
                    if (unitId) {
                        $.ajax({
                            method: 'PUT',
                            url: `http://localhost:3023/goods/data/${unitId}`,
                            dataType: 'json',
                            data: {
                                    name,
                                    note
                            }
                        })
                        .done(function (response) {
                            $('#goods-form').trigger('reset')
                            $('#barcode').attr('data-id', '')
                            $('#barcode').prop('data-id', '')
                            $('#barcode').removeClass('is-invalid is-valid')

                            $('#goods-section').toggle()
                            $('#goods-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            alert('gagal pake jquery')
                        })
                    // if there's no PK, add the new data
                    } else {
                        $.ajax({
                            method: 'POST',
                            url: `http://localhost:3023/goods/data`,
                            dataType: 'json',
                            data: {
                                    barcode,
                                    name,
                                    note,
                            }
                        })
                        .done(function (response) {
                            $('#goods-form').trigger('reset')
                            $('#goods-section').toggle()
                            $('#goods-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            alert('gagal pake jquery')
                        })
                    }
                }

                //Delete data
                const deleteData = (barcode) => {
                    $.ajax({
                        method: 'DELETE',
                        url: `http://localhost:3023/goods/data/${parseInt(barcode)}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#deleteModal').modal('toggle')
                        $('#dataTable').DataTable().clear().ajax.reload()
                    }).fail(function(error) {
                        alert('gagal bro')
                    })
                }

                //Edit data
                const editData = (barcode) => {
                    $.ajax({
                        method: 'GET',
                        url: `http://localhost:3023/goods/data/check/${barcode}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#add-btn').trigger('click')
                        $('#goods-form-title').html('Form edit')
                        $('#barcode').attr('data-id', response.rows[0].barcode)

                        $('#barcode').val(response.rows[0].barcode)
                        $('#name').val(response.rows[0].name)
                        $('#note').val(response.rows[0].note)
                    }).fail(function(error) {
                        alert('gagal cuy')
                    })
                }

            </script>

<%- include('../layouts/footer') %> 
