<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% data.forEach((item) => { %> 
      <h2><%= item.name %> </h2>
      <% }) %>
    <p>Selamat datang <%= user.name %>, <a href="/logout"> keluar</a></p>
  </body>
</html>
