<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Units</h1>

<%- include('./list') %> 

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Begin Delete Modal -->
            
<%- include('../layouts/modal') %> 

            <!-- End of Delete Modal -->

            <script>
         $(document).ready(function() {
            /*############## MAIN PAGE ##############*/
                // Add-button - Hide/Show units-Form
                $('button#add-btn').click(function() {
                    // Reset Form
                    $('#units-form-title').html('Form add')
                    $('#unit').attr('data-id', '')
                    $('#unit').prop('data-id', '')
                    $('#unit').removeClass('is-invalid is-valid')

                    // Toggle back
                    $('#units-section').toggle()
                    $('#units-table').toggle()
                })
                
                // Read data
                    $('#dataTable').DataTable({
                        "lengthMenu": [[3, 10, 100, -1],[3, 10, 100]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/units/data",
                        "columns": [
                            {'data': 'unit'},
                            {'data': 'name'},
                            {'data': 'note'},
                            {
                                'data': 'unit',
                                'orderable': false,
                                'render': function(data) {
                                    return `<button data-id="${data}" class="btn btn-success btn-circle anchor_edit"><i class="fas fa-info-circle"></i></button>  <button data-id="${data}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle anchor_remove"><i class="fas fa-trash"></i></button>`
                                }
                            }
                        ]
                    })
                
                // Delete data
                    $('#dataTable').on('click', 'button.anchor_remove', function(e) {
                        e.preventDefault()
                        const dataId = $(this).attr('data-id')
                        $('a#delete-confirmation').attr("data-id", dataId)
                    })
                    
                // Edit data
                    $('#dataTable').on('click', 'button.anchor_edit', function(e) {
                        e.preventDefault()
                        // Get the PK
                        const unit = $(this).attr('data-id')
                        // const unitp = $(this).prop('data-id')
                        // console.table('edit ditekan', unit, unitp);

                        editData(unit)
                    })
                
            /*############## MODAL ##############*/
                // Delete Confirmation
                    $('a#delete-confirmation').click(function() {
                    const unit = $(this).attr('data-id')
                    deleteData(unit)
                })

            /*############## FORM ##############*/
                // Back-Event - Reset form and toggle back the units-form
                $('#back-btn').click(function() {
                    // Reset form
                    $('#units-form').trigger('reset')
                    $('#unit').attr('data-id', '')
                    $('#unit').prop('data-id', '')
                    $('#unit').removeClass('is-invalid is-valid')

                    // Toggle back
                    $('#units-section').toggle()
                    $('#units-table').toggle()
                })

                // Submit-Event
                $('#units-form').submit(function(event) {
                    event.preventDefault()
                    const unitUpd = $('#unit').val()
                    const unitNew = $('#unit').prop('data-id')
                    const name = $('#name').val()
                    const note = $('#note').val()
                    
                    // Get the value
                    
                    // Tes
                    // const unita = $('#unit').attr('data-id')
                    // const unitp = $('#unit').prop('data-id')
                    // console.table('sebelum submit', unita, unitp);
                    
                    // console.table('data untuk submit', unitUpdate, name, note, unit);
                    // Save data

                    if ($('#unit').hasClass('is-invalid')) {
                        return event.preventDefault()
                    } else if (unitNew) {
                        saveData(unitNew, name, note, unitUpd)
                    } else {
                        saveData(unitUpd, name, note)
                    }
                })

                // Unit-Event - Check if unit already exists
                $('#unit').change(function() {
                    const unit = $(this).val()
                    // const unita = $(this).attr('data-id')
                    // const unitp = $(this).prop('data-id')
                    // console.table('check kalau unit ada di db', unita, unitp);

                    if (unit === $(this).prop('data-id')) {
                        $('input#unit').removeClass('is-invalid').addClass('is-valid')
                        $('#unit-valid').html('Unit remain unchanged.')
                    } else if (unit) {
                        unitCheck(unit)
                    } else {
                        $('input#unit').removeClass('is-valid').addClass('is-invalid')
                        $('#unit-invalid').html('Unit is required.')
                    }
                })

                const unitCheck = (unit) => {
                    $.ajax({
                            method: 'POST',
                            url: `/units/data/check`,
                            dataType: 'json',
                            data: {
                                unit,
                            }
                        }).done(function(response) {
                            if (response.data) {
                                $('input#unit').removeClass('is-invalid').addClass('is-valid')
                                $('#unit-valid').html('Unit is available.')
                            } else {
                                $('input#unit').removeClass('is-valid').addClass('is-invalid')
                                $('#unit-invalid').html('Unit already exist.')
                            }
                        }).fail(function(error) {
                            alert('gagal bro')
                        })
                }

                })

            /*############## API ##############*/
                // Save data
                const saveData = (unitNew, name, note, unitUpd) => {
                    console.log(`masuk submit`);
                    if (unitUpd) {
                        console.log(`masuk save edit`);
                        $.ajax({
                            method: 'PUT',
                            url: `/units/data/${unitNew}`,
                            dataType: 'json',
                            data: {
                                    unitUpd,
                                    name,
                                    note
                            }
                        })
                        .done(function (response) {
                            // Reset form
                            $('#units-form').trigger('reset')
                            $('#unit').attr('data-id', '')
                            $('#unit').prop('data-id', '')
                            $('#unit').removeClass('is-invalid is-valid')

                            // Toggle back and reload table
                            $('#units-section').toggle()
                            $('#units-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            console.log(err);
                            alert('gagal pake jquery')
                        })
                    } else {
                        console.log(`masuk save add`);
                        $.ajax({
                            method: 'POST',
                            url: `/units/data`,
                            dataType: 'json',
                            data: {
                                    unitNew,
                                    name,
                                    note,
                            }
                        })
                        .done(function (response) {
                            // Reset form
                            $('#units-form').trigger('reset')
                            $('#unit').attr('data-id', '')
                            $('#unit').prop('data-id', '')
                            $('#unit').removeClass('is-invalid is-valid')

                            // Toggle back and reload table
                            $('#units-section').toggle()
                            $('#units-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            alert('gagal pake jquery')
                        })
                    }
                }

                //Delete data
                const deleteData = (unit) => {
                    $.ajax({
                        method: 'DELETE',
                        url: `/units/data/${unit}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#deleteModal').modal('toggle')
                        $('#dataTable').DataTable().clear().ajax.reload()
                    }).fail(function(error) {
                        alert('gagal bro')
                    })
                }

                //Edit data
                const editData = (unit) => {
                    $.ajax({
                        method: 'GET',
                        url: `/units/data/${unit}`,
                        dataType: 'json'
                    }).done(function(response) {
                        // Setup form values 
                        // $('#unit').attr('data-id', response.rows[0].unit)
                        $('#unit').prop('data-id', response.rows[0].unit)
                        $('#unit').val(response.rows[0].unit)
                        $('#name').val(response.rows[0].name)
                        $('#note').val(response.rows[0].note)
                        
                        //test
                        // const unit = $('#unit').attr('data-id')
                        // const unitp = $('#unit').prop('data-id')
                        // console.table('ambil di form edit', unit, unitp);

                        // then switch to form
                        $('#units-form-title').html('Form edit')
                        $('#units-section').toggle()
                        $('#units-table').toggle()
                    }).fail(function(error) {
                        alert('gagal cuy')
                    })
                }
            
            </script>

<%- include('../layouts/footer') %> 
