<%- include('../layouts/header') %> 
<%- include('../layouts/nav') %> 

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Units</h1>

<%- include('./list') %> 

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Begin Delete Modal -->
            
<%- include('./modal') %> 

            <!-- End of Delete Modal -->

            <script>
            /* UNITS API */
                // Save data
                const saveData = (unit, name, note, unitId) => {
                    if (unitId) {
                        $.ajax({
                            method: 'PUT',
                            url: `http://localhost:3023/units/data/${unitId}`,
                            dataType: 'json',
                            data: {
                                    name,
                                    note
                            }
                        })
                        .done(function (response) {
                            $('#units-form').trigger('reset')
                            $('#unit').attr('data-id', '')
                            $('#unit').removeClass('is-invalid is-valid')

                            $('#units-section').toggle()
                            $('#units-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            alert('gagal pake jquery')
                        })
                    } else {
                        $.ajax({
                            method: 'POST',
                            url: `http://localhost:3023/units/data`,
                            dataType: 'json',
                            data: {
                                    unit,
                                    name,
                                    note,
                            }
                        })
                        .done(function (response) {
                            $('#units-form').trigger('reset')
                            $('#units-section').toggle()
                            $('#units-table').toggle()
                            $('#dataTable').DataTable().clear().ajax.reload()
                        })
                        .fail(function (err) {
                            alert('gagal pake jquery')
                        })
                    }
                }

                //Delete data
                const deleteData = (unit) => {
                    $.ajax({
                        method: 'DELETE',
                        url: `http://localhost:3023/units/data/${unit}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#deleteModal').modal('toggle')
                        $('#dataTable').DataTable().clear().ajax.reload()
                    }).fail(function(error) {
                        alert('gagal bro')
                    })
                }

                //Edit data
                const editData = (unit) => {
                    $.ajax({
                        method: 'GET',
                        url: `http://localhost:3023/units/data/${unit}`,
                        dataType: 'json'
                    }).done(function(response) {
                        $('#add-btn').trigger('click')
                        $('#units-form-title').html('Form edit')
                        $('#unit').attr('data-id', response.rows[0].unit)

                        $('#unit').val(response.rows[0].unit)
                        $('#name').val(response.rows[0].name)
                        $('#note').val(response.rows[0].note)
                    }).fail(function(error) {
                        alert('gagal cuy')
                    })
                }

                const unitCheck = (unit) => {
                    $.ajax({
                            method: 'POST',
                            url: `http://localhost:3023/units/data`,
                            dataType: 'json',
                            data: {
                                unit
                            }
                        }).done(function(response) {
                            if (response.data) {
                                $('input#unit').removeClass('is-invalid').addClass('is-valid')
                            } else {
                                $('input#unit').removeClass('is-valid').addClass('is-invalid')
                                $('#unit-invalid').html('Unit already exist.')
                            }
                        }).fail(function(error) {
                            alert('gagal bro')
                        })
                }

                $(document).ready(function() {

            /* UNITS - MAIN PAGE */
                // Add-button - Hide/Show units-Form
                $('button#add-btn').click(function() {
                    $('#units-form-title').html('Add Data')
                    $('#unit').removeClass('is-invalid is-valid')
                    $('#unit').attr('data-id', '')

                    $('#units-section').toggle()
                    $('#units-table').toggle()
                })
                
                // Table - Read data
                    $('#dataTable').DataTable({
                        "lengthMenu": [[3, 10, 100, -1],[3, 10, 100]],
                        "processing": true,
                        "serverSide": true,
                        "ajax": "/units/data",
                        "columns": [
                            {'data': 'unit'},
                            {'data': 'name'},
                            {'data': 'note'},
                            {
                                'data': 'unit',
                                'orderable': false,
                                'render': function(data) {
                                    return `<button data-id="${data}" class="btn btn-success btn-circle anchor_edit"><i class="fas fa-info-circle"></i></button>  <button data-id="${data}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle anchor_remove"><i class="fas fa-trash"></i></button>`
                                }
                            }
                        ]
                    })
                
                // Table - Delete data
                    $('#dataTable').on('click', 'button.anchor_remove', function(e) {
                        e.preventDefault()
                        const dataId = $(this).attr('data-id')
                        $('a#delete-confirmation').attr("data-id", dataId)
                    })
                    
                // Table - Edit data
                    $('#dataTable').on('click', 'button.anchor_edit', function(e) {
                        e.preventDefault()
                        const unit = $(this).attr('data-id')
                        editData(unit)
                    })
                
            /* DELETE MODAL */
                // Delete Confirmation
                    $('a#delete-confirmation').click(function() {
                    const unit = $(this).attr('data-id')
                    deleteData(unit)
                })

            /* UNITS-FORM */
                // Back-Event - Reset form and toggle back the units-form
                $('#back-btn').click(function() {
                    $('#units-form').trigger('reset')
                    $('#unit').attr('data-id', '')
                    $('#unit').removeClass('is-invalid is-valid')

                    $('#units-section').toggle()
                    $('#units-table').toggle()
                })

                $('#units-form').submit(function(event) {
                    event.preventDefault()
                    
                    if ($('#unit').hasClass('is-invalid')) {
                        return event.preventDefault()
                    } else {
                        const unitId = $('#unit').attr('data-id')
                        const unit = $('#unit').val()
                        const name = $('#name').val()
                        const note = $('#note').val()
    
                        saveData(unit, name, note, unitId)
                    }
                })

                // Unit-Event - Check if unit already exists
                $('#unit').change(function() {
                    const unit = $(this).val()

                    if (unit === $('#unit').attr('data-id')) {
                        $('input#unit').removeClass('is-invalid').addClass('is-valid')
                        $('#unit-valid').html('Unit remain unchanged.')
                    } else if (unit) {
                        unitCheck(unit)
                    } else {
                        $('input#unit').removeClass('is-valid').addClass('is-invalid')
                        $('#unit-invalid').html('Unit is required.')
                    }
                })

                })
            </script>

<%- include('../layouts/footer') %> 
